* {
  padding: 0;
  margin: 0;
}

input {
  height: 24px;
  line-height: 24px;
  padding: 4px;
}

select {
  height: 36px;
  padding: 4px;
}

button {
  padding: 8px 10px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.pbt0 {
  padding-bottom: 0px !important;
}

.btn-arrow {
  position: absolute;
  top: 40%;
  color: #fff;
  padding: 8px 15px;
  z-index: 99;
  border-radius: 4px;
  background: #0C714B;
  cursor: pointer;
}

.btn-arrow.btn-next {
  right: -10px;
}

.btn-arrow.btn-prev {
  left: -10px;
}

.slick-dots {
  text-align: center !important;
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.custom-slick-dots {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: auto !important;
  background: #0C714B;
  margin-left: 5px;
}

.slick-slide {
  border: none !important;
  outline: none !important;
}

.main-color {
  background: #0C714B;
}

.mg0 {
  margin: 0px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.blog-detail img {
  max-width: auto !important;
  width: auto !important;
  height: auto !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {
  .frm-reponsive {
    width: 100% !important;
    height: auto;
  }
  .text-overflow-mb {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .ls-main-menu {
    -webkit-box-shadow: 0 1px 3px #000;
            box-shadow: 0 1px 3px #000;
    position: fixed;
    top: 0px;
    right: 0px;
    background: #0C714B;
    z-index: 999;
    height: 100%;
    overflow-y: auto;
    width: calc(100% - 150px);
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .ls-main-menu.closed {
    right: -500px;
  }
  .ls-main-menu li {
    padding: 10px !important;
    display: block !important;
  }
  .ls-main-menu li.have-menu {
    position: relative;
  }
  .ls-main-menu li.have-menu::after {
    content: '\f107';
    font-family: 'FontAwesome';
    color: #ffffff;
    right: 10px;
    top: 8px;
    position: absolute;
  }
  .ls-main-menu li.have-menu ul.sub-menu {
    width: 100% !important;
    position: relative !important;
    background: #0C714B !important;
  }
  .ls-main-menu li.have-menu ul.sub-menu::after {
    display: none !important;
  }
  .ls-main-menu li.have-menu ul.sub-menu img {
    display: none;
  }
  .ls-main-menu li.have-menu ul.sub-menu li {
    width: 100%;
    padding-left: 0px !important;
  }
  .ls-main-menu li.have-menu ul.sub-menu li a {
    font-weight: unset;
    color: #ffffff !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .text-overflow-mb {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/*# sourceMappingURL=reponsive.css.map */