@import "_common.scss";

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {
    .frm-reponsive{
        width: 100% !important;
        height: auto;
    }
    .text-overflow-mb{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .ls-main-menu{
        position: fixed;
        top: 0px;
        right: 0px;
        background: $main_color;
        z-index: 999;
        height: 100%;
        overflow-y: auto;
        width: calc(100% - 150px);
        transition: all 1s;

        &.closed{
            right: -500px;
        }
        li{
            padding: 10px !important;
            display: block !important;
        }
        li.have-menu{
            position: relative;
            &::after{
                content: '\f107';
                font-family: 'FontAwesome';
                color: #ffffff;
                right: 10px;
                top: 8px;
                position: absolute;
            }
            ul.sub-menu{
                width: 100% !important;
                position: relative !important;
                background: $main_color !important;

                &::after{
                    display: none !important;
                }
                img{
                    display: none;
                }
                li{
                    width: 100%;
                    padding-left: 0px !important;
                    a{
                        font-weight: unset;
                        color: #ffffff !important;
                    }
                }
            }
        }
    }
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .text-overflow-mb{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}