@import "_common.scss";

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {
    .frm-reponsive{
        width: 100% !important;
        height: auto;
    }
    .text-overflow-mb{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .btn-arrow{
        display: none !important;
    }
    .btn-arrow{
        display: none !important;
    }
    .ls-main-menu{
        box-shadow: 0 1px 3px #000;
        position: fixed;
        top: 0px;
        right: 0px;
        background: $main_color;
        z-index: 999;
        height: 100%;
        overflow-y: auto;
        width: calc(100% - 110px);
        transition: all 1s;

        &.closed{
            right: -500px;
        }
        li{
            padding: 10px !important;
            display: block !important;
            position: relative;
            &::before{
                display: none;
            }
        }
        li.have-menu{
            position: relative;
            &::after{
                content: '\f107' !important;
                font-family: 'FontAwesome' !important;
                color: #ffffff !important;
                right: 10px !important;
                top: 8px !important;
                position: absolute !important;
                left: unset;
                padding: 0px;
                width: fit-content;
            }

            &:hover{
                .sub-menu{
                    display: none;
                }

            }
            ul.sub-menu{
                width: 100% !important;
                position: relative !important;
                background: $main_color !important;

                li{
                    a{
                        color: red !important;
                    }
                }
                &::after{
                    display: none !important;
                }
                img{
                    display: none;
                }
                li{
                    width: 100% !important;
                    padding-left: 10px !important;
                    position: relative;
                    a{
                        font-weight: unset;
                        color: #ffffff !important;
                    }
                    p.sub-title{
                        display: none !important;
                    }
                    &::before{
                        content: '-';
                        display: block;
                        position: absolute;
                        top: 8px;
                        left: 5px;
                        right: 100%;
                        height: auto;
                        margin: unset;
                        color: #fff;
                    }
                }
            }
        }
    }
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .text-overflow-mb{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}