@import "_common.scss";
@import "_variable.scss";

html {
    scroll-behavior: smooth;
}
.main-nav{
    .top-nav{
        padding: 9px 0px;
        background: #094e34;
        li{
            padding-right: 15px ;
            color: #fff;
            display: inline-block;
            .fa{
                margin-right: 5px;
            }
            a{
                color: #fff;
                text-decoration: none;
            }
        }
    }
    .main-menu{
        background: linear-gradient(to bottom,$main_color,$main_color);
        transition: box-shadow .25s ease;
        padding: 2px 0px;
        .ls-main-menu{
            padding-top: 2px;
            li{
                font-size: 16px;
                padding: 18px 10px;
                display: inline-block;
                a{
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}
.footer{
    color: #fff;
    background: #202736; 
    padding: 15px 0px;   

    .ls-ft-pro{
        li{
            display: block;
            a{
                text-decoration: none;;
                color: #737373;
                transition: color .25s;
                transition: color .25s;
                border-bottom: 1px solid #3f3f3e;
                display: block;
                margin: 2px 0;
                padding-bottom: 5px;
            }
        }
    }
    .bottom{
        font-size: 14px;
        padding: 8px 0px;
        background: #191E29;
    }
    .frm-ft{
        *{
            width: 100%;
            margin-bottom: 5px;
        }
        input{
            height: 40px;
        }
        button{
            background: $main_color;
            color: #fff;
            border:none;
            outline: none;
        }
    }
}

.sec-slider{
    color: #fff;
    background: $main_color;
}

.over-section{
    box-shadow: 0 0 15px #ccc;
    &.sticky{
        position: fixed;
        width: 100%;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 999;
        background: #fff;
    }
    .item-over{
        padding: 10px 0px;
        text-align: center;
        font-weight: bold;
        border-bottom: 3px solid #fff;
        transition: all 0.4s;
        cursor: pointer;
        &:hover{
            background: #c4dad7;
            border-bottom: 3px solid $main_color;
        }
        p{
            margin-bottom: 0px;
        }
    }
}

.main-title{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    position: relative;

    &::after{
        content: '';
        width: 55px;
        height: 2px;
        background: #094e34;
        margin: 15px auto;
        display: block;
    }
}
.bg-blue{
    background: #F0F5F6;
}

.sec-content{
    padding: 15px 0px;
    .item-view{
        margin-bottom: 25px;
        text-align: center;
        cursor: pointer;
        img{
            width: 70px;
            height: 70px;
        }
    }
}

.item-question{
    margin-bottom: 10px;
    position: relative;
    .q-border{
        cursor: pointer;
    }
    .q-btn{
        cursor: pointer;
        padding: 2px 15px;
        color: #fff;
        font-weight: bold;
        border-radius: 2px;
        background: $main_color;
    }
    .item-anwser{
        padding: 10px;
        color: #fff;
        border-radius: 4px;
        background: $main_color;
    }
}
.item-feedback{
    text-align: center;
    .item-cus{
        width: fit-content;
        margin: auto;
        text-align: center;
        display: inline;
        img{
            margin: auto;
            width: 85px;
            height: 85px;
            border-radius: 50%;
        }
    }
}
.btn-contact-now{
    font-size: 25px;
    color: #fff;
    width: fit-content;
    margin: auto;
    background: $main_color;
    padding: 15px 25px;
    border-radius: 5px;
    text-transform: uppercase;
    a{
        text-decoration: none;
        color: yellow;
    }
}

.fixed-contact{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 8px 0px;
    z-index: 99;
    background: #000000b8;
    p{
        margin: 0px;
    }
}
.item-blog{
    margin-bottom: 15px;
    a{
        color: #000;
        text-decoration: none;
    }
    .title-blog{
        font-weight: bold;
        font-size: 15px;
    }
    .desc-blog,.date-blog{
        color: gray;
    }
    .overlay{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #ffffff6b;
        opacity: 0;
        transition: all 0.3s;
        text-align: center;
        padding-top: 25%;
        .fa{
            margin-top: 45%;
            width: 70px;
            height: 70px;
            color: #fff;
            font-size: 24px;
            border-radius: 50%;
            margin: auto;
            text-align: center;
            background: #0c714bba;
            line-height: 70px;
            transform: scale(0.5);
            transition: all 0.6s;
        }
    }
    &:hover{
        .overlay{
            opacity: 1;
            .fa{
                transform: scale(1);
            }
        }
    }
}
.cate-title{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-category{
    border: 1px solid #dcdcdc;
    padding: 5px 10px;
    background: #fff;
    width: fit-content;
    display: inline-flex;
    margin-right: 1px;
    margin-bottom: 2px;
    a{
        color: #000;
        text-decoration: none;
    }
}
.small-blog{
    a{
        text-decoration: none;
        color: #000000;
    }
    img{
        width: 50px;
        height: 50px;
        margin-right: 5px;
        border: double;
    }
}

.ls-main-menu{
    li.have-menu{
        position: relative;
        ul.sub-menu{
            position: absolute;
            width: 500px;
            background: #ffffff;
            z-index: 999;
            right: 0%;
            top: 100%;
            border-radius: 5px;
            display: none;
            animation: fadeOut 0.4s;
            &::after{
                content: '';
                border: 17px solid transparent;
                border-bottom: 17px solid #ffffff;
                top: -30px;
                right: 30px;
                position: absolute;
            }
            li{
                padding: 8px 0px 8px 30px !important;
                width: 30.30%;
                a{
                    padding:10px 0px;
                    color: $main_color !important;
                    font-weight: bold;
                }
                p.sub-title{
                    padding: 0px 34px;
                    font-size: 12px;
                    max-height: 33px;
                    overflow: hidden;
                }
            }
        }
        &:hover{
            .sub-menu{
                display: block;
            }
        }
    }
}
@keyframes fadeOut{
    0%{opacity: 0;}
    90%{opacity: 0.8;}
    100%{opacity: 1;}
}

.item-banggia{
    color: #fff;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14);
    .btn{
        padding: 4px 8px;
        border: 1px solid #fff;
        border-radius: 5px;
    }
    .hd{
        padding: 5px;
        background: $main_color;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .bdy{
        padding: 5px 0px;
        background: #248a63;
    }
    .ft{
        padding: 10px 0px;
        color: black;
        a{
            color: #000;
            text-decoration: none;
            &.btn-color{
                color: #fff;
                background: $main_color;
            }
        }
    }
}
.table-banggia{
    width: 100%;
    thead{
        tr{
            background: $main_color;
            td{
                padding: 5px 2px;
                font-size: 16px;
                color: #fff;
                font-weight: bold;
            }
        }
    }
    tbody{
        tr{
            &.title-row{
                cursor: pointer;
                font-weight: bold;
                background: #ebebeb;
            }
            td{
                padding: 5px 2px;
                border-bottom: 1px solid #dadada;
            }
        }
    }
}
#form-dangky{
    position: fixed;
    top: 0px;
    right: -500px;
    width: fit-content;
    height: 100%;
    padding: 10px;
    background: #FBFBFB;
    z-index: 9999;
    box-shadow: 0 1px 3px #000;
    transition: all 1s;

    &.opened{
        right: 0px;
    }
    p{
        margin-bottom: 0px;
    }
    tr td{
        padding: 5px;
    }
    .input{
        width: 100%;
        height: 30px;
        padding: 5px;
    }
    textarea{width: 100%;}
    .title{
        font-size: 16px;
        text-transform: uppercase;
        color: $main_color;
    }
    .t{font-size: 11px;}
}

#socical_network{
    position: fixed;
    bottom: 30%;
    right: 2%;
    z-index: 999;

    .item{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #fff;
        display: block;
        text-align: center;
        line-height: 50px;
        background: #185AEF;
        margin-bottom: 10px;
        box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        transition: all 0.2s;
        &:hover{
            font-size: 24px;
        }
        &.fa-zalo{
            background: #185AEF url(zaloico.png);
            background-size: 30px 30px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

#backtop{
    position: fixed;
    color: #fff;
    font-size: 15px;
    padding: 10px 14px;
    bottom: 15%;
    right: -100px;
    cursor: pointer;
    z-index: 999;
    transition: all 0.2s;
    background: $main_color;
    &:hover{
        background: orange;
    }
    &.ok{
        right:2%;
    }
}